<!DOCTYPE html>
<html>
<head>
	<meta name="referrer" content="never"></meta>
	<title>聚客在线</title>
	<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/open/js/myjs.js"></script>
	<script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<link rel="stylesheet" type="text/css" href="/open/css/style.css"></link>
</head>
<style>
	body,html{
		position:relative;
	}
	.horse{
		position:absolute;
		top:20px;
		right:0px;
		z-index:999;
		font-size:32px;
		background-color:rgba(255,255,255,0.5);
		width:100%;
		text-align:center;
		padding:10px 0;
		font-family:"微软雅黑";
	}
	.horse div{
		color:red;
		display:inline-block;
	}
	.music{
		position:absolute;
		top:120px;
		right:25px;
		z-index:999;
	}
	.music img{
		width:100px;	
	}
	.client{
		position:fixed;
		left:30px;
		bottom:320px;
	}
	.client .client_pic{
		width:100px;
	}
	.client .ewm_pic{
		position:absolute;
		top:-50px;
		right:-250px;
		width:250px;
		display:none;
	}
	
</style>

<body>
	
    <div th:if="${act.callQr != '' &amp;&amp; act.callQr != null}" class="client">
        <img alt="" src="/open/img/client.png" class="client_pic"></img>
        <img alt="" th:src="${act.callQr}" class="ewm_pic"></img>
    </div>
	<div th:if="${msg.amount != null}"  class="horse">
		<marquee width="100%" direction="left" align="middle">用户<div th:text="${msg.orderUser}"></div>通过<div th:text="${msg.shareUser}"></div>的分享抢购成功,<div th:text="${msg.shareUser}"></div>获得佣金<div th:text="${msg.amount}"></div>元</marquee>
	</div>
	<div th:if="${act.music != '' &amp;&amp; act.music != null}" class="music">
		<img alt="" src="/open/img/open.png"></img>
		<audio autoplay="autoplay" id="bgMusic">
			<source th:src="${act.music}"></source>
		</audio>
	</div>

	<div id="main">
		<div class="main_content">
			<div class="pic">
				<img th:src="${act.firstImg}"></img>
			</div>
			<div class="record">
				<div class="attend_num">
					<p>参加人数(<strong th:text="${act.joinCount}"></strong>)</p>
					<ul>
						<li th:each="user : ${userList}">
							<img th:src="${user.headimgurl}"></img>
							<em th:text="${user.nickname}"></em>
						</li>
						
					</ul>
					<div style="clear: both"></div>
				</div>
				<div class="buy_record">
					<p class="buy_num" th:text="@{'购买记录('+${count}+')'}"></p>
					<ul>
						<li th:each="order : ${orderList}">
							<p class="buy_p">
								<img th:src="${order.headimgurl}"></img>
							</p>
							<p class="buy_p">
								<em th:text="${order.name}"></em>
								<br></br>
								<em th:text="${order.iphone}"></em>
							</p>
							<p class="buy_p2">
								已经支付¥<em th:text="${order.amount}"></em>元<br></br>
								<em th:text="${#dates.format(order.finishTime,'yyyy-MM-dd HH:mm:ss')}"></em>
							</p>
						</li>
						
					</ul>
				</div>
				<div class="product_mess">
					<p>商品信息</p>
					<img th:src="${act.infoImg}"></img>
				</div>
				<div class="teno_p">
					<p th:if="${act.techInfo != '' &amp;&amp; act.techInfo != null}" th:text="${act.techInfo}"></p>
					<p th:if="${act.techInfo == '' || act.techInfo== null }">技术支持：河北辰祥广告传媒 创建活动：19933395887</p>
				</div>
				<div class="tg_p">
					<p>推广排名</p>
					<table style="table-layout: fixed">
						<tr class="noborder">
							<th>姓名</th>
							<th>
								<em>推荐排名</em><br/>
								<strong>推荐数</strong>
							</th>
							<th>佣金(元)</th>
						</tr>
						<tr th:each="user : ${rankList}">
							<td class="yi_x" th:text="${user.nickname}"></td>
							<td th:text="@{${user.shareCount}+'人'}"></td>
							<td class="add_color" th:text="@{'¥'+${user.shareIncome}+'元'}"></td>
						</tr>
					</table>
					<div>
						<a th:href="@{/open/company/{userId}(userId=${user.id})}">我也要创建活动</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="clear: both"></div>
	<div class="con_bottom">
		<div class="tm">
			<input type="hidden" th:value="${#dates.format(act.endTime,'yyyy/MM/dd HH:mm:ss')}" id="time_x"></input>
			<p class="tm_p">活动<em>结束</em>倒计时</p>
			<p id="LeftTime" class="tm_end"></p>
		</div>
	
		<button class="btn_left" th:text="@{'限时抢购('+${act.amount}+'元)'}"></button>
		<a th:href="${shareUrl}" class="btn_right" th:text="@{'分享赚'+${act.shareAmount}+'元'}"></a>
	</div>
	<div class="yincang_div">
		<div class="back_div"></div>
			<form action="/open/order"  method = "post" name="myform">
				<div class="yin_content">
					<h2>请填写正确信息</h2>
					<p>	
					<input type="text" name="name" placeholder="请输入您的真实姓名" class="inp_name"></input>
					</p>
					<p>	
					<input type="text" name="iphone" placeholder="请输入您的手机号" class="inp_num"></input>
					</p>
					<input type="hidden" name="userId" th:value="${user.id}"></input>
					<input type="hidden" name="actId" th:value="${act.id}"></input>
					<button type="button" class="mon_buy">立即购买</button>
				</div>
			</form>    
		<div class="judge">
			<div>
				<p>请输入姓名</p>
				<button class="rig_div">OK</button>
			</div>
		</div>
	</div>
</body>
</html>
<script th:inline="javascript">

	// 限时抢购点击
	$(".con_bottom .btn_left").click(function(){
	    $(".yincang_div").css("display","block")
	})
	$(".yincang_div .back_div").click(function(){
	    $(".yincang_div").css("display","none")
	})

// 立即购买显示框
	$(".judge .rig_div").click(function(){
		$(".judge").hide()
	})

	// 限时抢购正则判断
	var val=$(".yin_content .inp_name").val();
	var val2=$(".yin_content .inp_num").val();
	var reg=/^[1][3,4,5,7,8][0-9]{9}$/;
	$(".yin_content .mon_buy").click(function(){
		if($(".yin_content .inp_name").val()==""){
			$(".judge").css("display","block");
			$(".yin_content .mon_buy").attr('href','')
		}else if($(".yin_content .inp_num").val()==""){
			$(".judge").css("display","block");
			$(".judge p").html("请输入您的手机号")
		}else if(!reg.test($(".yin_content .inp_num").val())){
			// alert(888)
			$(".judge").css("display","block");
			$(".judge p").html("请输入正确手机号");
		}else{
			document.myform.submit();
		}
	})
	
	//音乐点击自动播放
	var music = document.getElementById("bgMusic");
	$(".music img").click(function(){
		$(this).attr("src","/open/img/close.png");
		if(music.paused){
			music.play();
			$(this).attr("src","/open/img/open.png");
		}else{
			music.pause();
			
		}
	})
	
	//客服按钮点击弹出二维码
	$(".client .client_pic").click(function(){
		$(".client .ewm_pic").toggle()
	})
	
	
	//分享功能
	var sign = [[${sign}]];
	var share = [[${share}]];
	wx.config({
	    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	    appId: sign.appId, // 必填，公众号的唯一标识
	    timestamp: sign.timestamp, // 必填，生成签名的时间戳
	    nonceStr: sign.nonceStr, // 必填，生成签名的随机串
	    signature: sign.signature,// 必填，签名
	    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
	});
	
	 wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
	    wx.onMenuShareTimeline({ 
	        title: share.shareTitle, // 分享标题
	        desc: share.shareDesc, // 分享描述
	        link: share.actUrl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
	        imgUrl: share.shareSmallImg, // 分享图标
	        success: function () {
	          // 设置成功
	        }
	    });
		wx.onMenuShareAppMessage({
			title: share.shareTitle, // 分享标题
	        desc: share.shareDesc, // 分享描述
	        link: share.actUrl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
	        imgUrl: share.shareSmallImg, // 分享图标
			success: function () {
			// 用户点击了分享后执行的回调函数
			}
		});
	}); 
	
	
	
</script>