<!DOCTYPE html>
<html>
<head>
	<title>支付</title>
	<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/open/js/myjs.js"></script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<link rel="stylesheet" type="text/css" href="/open/css/style.css"></link>
</head>
<style>
	body,html{
		background-color: #f0eff4;
	}
</style>
<body>
	<div class="pay_con">
		<p>订单详情</p>
		<ul>
			<li>
				<strong>商品名称</strong>
				<em th:text="${order.actName}"></em>
			</li>
			<li>
				<strong>订单编号</strong>
				<em th:text="${order.tradeNo}"></em>
			</li>
			<li>
				<strong>商家名称</strong>
				<em th:text="${order.merchant}"></em>
			</li>
			<li>
				<strong>商品价格</strong>
				<em class="add_color" th:text="${order.amount}"></em>
			</li>
		</ul>
		<div class="pay_nother">
			<strong>还需要支付</strong>
			<em th:text="${order.amount}"></em>
		</div>
		<div class="pay_way">
			<p>选择支付方式</p>
			<button id="pay">微信支付</button>
		</div>
		<input id="appId" type="hidden" th:value="${websocketUrl}" />
		<input id="timeStamp" type="hidden" th:value="${websocketUrl}" />
		<input id="nonceStr" type="hidden" th:value="${websocketUrl}" />
		<input id=packageValue type="hidden" th:value="${websocketUrl}" />
		<input id="paySign" type="hidden" th:value="${websocketUrl}" />
		
	</div>
</body>

<script type="text/javascript">

$("#pay").click(function(){
	
	 var appId =  $("#appId").val();
	 var timeStamp =  $("#timeStamp").val();
	 var nonceStr =  $("#nonceStr").val();
	 var packageValue =  $("#packageValue").val();
	 var paySign =  $("#paySign").val();
	 
	 console.log(appId);
	 console.log(timeStamp);
	 console.log(nonceStr);
	 console.log(packageValue);
	 console.log(paySign);
	  	
	   WeixinJSBridge.invoke(
	       'getBrandWCPayRequest', {
	           "appId":"wxcf53702f0700cb52",     //公众号名称，由商户传入     
	           "timeStamp":timestamp,         //时间戳，自1970年以来的秒数     
	           "nonceStr":noncestr, //随机串     
	           "package":packageValue,     
	           "signType":"MD5",         //微信签名方式：     
	           "paySign":sign //微信签名 
	       },
	       function(res){     
	           if(res.err_msg == "get_brand_wcpay_request:ok" ) {
	        	   
	        	   
	        	   
	           }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
	       }
	   ); 
		
 });





</script>

</html>