<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinkuangkj.open.mapper.ActUserDao">
    <resultMap id="BaseResultMap" type="com.jinkuangkj.open.model.ActUser">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="openid" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="nickname" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="headimgurl" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="act_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="share_user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="share_income" javaType="java.lang.Double" jdbcType="DOUBLE" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, openid, nickname, headimgurl, act_id, share_user_id, share_income
    </sql>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jinkuangkj.open.model.ActUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user (openid, nickname, headimgurl, 
            act_id, share_user_id, share_income
            )
        values (#{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, 
            #{actId,jdbcType=INTEGER}, #{shareUserId,jdbcType=INTEGER}, #{shareIncome,jdbcType=DOUBLE}
            )
    </insert>
    <insert id="insertSelective" parameterType="com.jinkuangkj.open.model.ActUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null">
                openid,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="headimgurl != null">
                headimgurl,
            </if>
            <if test="actId != null">
                act_id,
            </if>
            <if test="shareUserId != null">
                share_user_id,
            </if>
            <if test="shareIncome != null">
                share_income,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="actId != null">
                #{actId,jdbcType=INTEGER},
            </if>
            <if test="shareUserId != null">
                #{shareUserId,jdbcType=INTEGER},
            </if>
            <if test="shareIncome != null">
                #{shareIncome,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="com.jinkuangkj.open.model.ActUser">
        update t_user
        <set>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                headimgurl = #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="actId != null">
                act_id = #{actId,jdbcType=INTEGER},
            </if>
            <if test="shareUserId != null">
                share_user_id = #{shareUserId,jdbcType=INTEGER},
            </if>
            <if test="shareIncome != null">
                share_income = #{shareIncome,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateById" parameterType="com.jinkuangkj.open.model.ActUser">
        update t_user
        set openid = #{openid,jdbcType=VARCHAR},
            nickname = #{nickname,jdbcType=VARCHAR},
            headimgurl = #{headimgurl,jdbcType=VARCHAR},
            act_id = #{actId,jdbcType=INTEGER},
            share_user_id = #{shareUserId,jdbcType=INTEGER},
            share_income = #{shareIncome,jdbcType=DOUBLE}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="selectByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from t_user
        where openid = #{openid,jdbcType=VARCHAR}
    </select>
    
</mapper>